.lock
/.idea/
/.idea/dictionaries
/nxt.iml
/nDEX.iml
/project.iml
/webapps/
/classes/
/nxt_db
/mobile
/*.log
/*.log.*
/html/doc/*
/html/**/*.gz
/keystore
/nxt_test_db
README_win.txt
/nDEX.log.lck
/nxt.log.lck
/bin
*.log
/.classpath
/.project
/.settings/
/test/classes/
*.csv
/jre
/dist
deploy.sh
/resource/nDEX.manifest.mf
/resource/nDEXservice.manifest.mf
nDEX.exe
nDEX.jar
nDEXservice.exe
/bundles
*.patch
/addons/classes/
/addons/src/*.java
/out
/ide

/changelogs
logs/

*.tmp
